# TelegramBot secrets for default telegram logger
INTERCEPT_IT_TG_CHAT_ID=<telegram_bot_chat_id>
INTERCEPT_IT_TG_THREAD_ID=<telegram_bot_thread_id>
INTERCEPT_IT_TG_BOT_TOKEN=<telegram_bot_access_token>